* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-color: #E5E5E5; 
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.entrada img{
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.entrada input{
    width: 261px;
    height: 54px;
    margin-top: 94px;
    border-radius: 4px;
}

.entrada button{
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    margin-top: 15px;
    border-radius: 9px;
}



header{
    height: 80px;
    width: 100%;
    background: #bb1a1a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ion-icon{
    font-size: 44px;
    margin-top: 18px;
    margin-right: 22px;
    margin-bottom: 17px;
}

header img {
    width: 75px;
    height: 53px;
    margin-top: 16px;
    margin-left: 22px;
    margin-bottom: 11px;
}

main{
    height: calc(100vh - 160px);  
    background-color: aquamarine;
    margin: 80px 0;
}

.mensagem{

}

.mensagem__publica{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF ;
}

.mensagem__privada{
    width: 100%;
    height: 40px;
    background-color: #FFDEDE;
}

.mensagem__status{
    width: 100%;
    height: 40px;
    background-color: #DCDCDC;
}

aside{
    width: 259px;
    height: 100vh;
    background-color: #FFFFFF ;
    font-size: 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

}

aside .container{
    margin-left: 18px;
}

aside .topo{
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 0 30px;
}

.contatos__todos, .contatos__individual, .status__publico, .status__privado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .visibilidade{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

aside ion-icon{
    font-size: 25px;
}

.fundo{
    width: calc(100vw - 259px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

}
footer{
    height: 80px;
    width: 100%;
    background: #bb1a1a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer input{
    margin-left: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer ion-icon{
    font-size: 26px;
    margin-bottom: 27px;
    margin-right: 22px;
    margin-top: 27px;
}

.esconder{
    display: none;
}



