* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 80px;
    width: 100%;
    background: #bb1a1a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ion-icon{
    font-size: 44px;
}

main{
    height: calc(100vh - 160px);  
    background-color: aquamarine;
    margin: 80px 0;
}

footer{
    height: 80px;
    width: 100%;
    background: #bb1a1a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ion-icon{
    font-size: 26px;
}


